
@{
    ViewBag.Title = "HRAdminView";
}

<div class="container">
    <h2>This is the HR Administration view.</h2>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //Make the Timesheet nav tab active
        $("#navTimesheetHrAdmin").addClass("active");

    });
</script>

