@model NM.Web.WebApplication.Timesheets.Models.ViewModel.EmployeeInfoHeaderViewModel
@{
    ViewBag.Title = "Header Of Timesheet";
    ViewBag.CurrentLoginUserName = User.Identity.Name;
}
<div class="container">
    @using (Html.BeginForm())
    {
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <label>Employee: </label> @Html.DisplayFor(m => m.FullName)
                    <br />
                    <label>Year: </label>@Html.DropDownListFor(m => m.displayYear, new SelectList(Model.TimeYears, "Value", "Text"))
                    <br />
                    <label>Pay Period:</label> @Html.DropDownList("payperiods", Model.PayPeriod)
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
    }
</div>


