@model NM.Web.WebApplication.Timesheets.Models.ViewModel.TimesheetViewModel
@{
    ViewBag.Title = "Timesheet";
}

@using GridMvc.Html

<br />
<div style="background-color:#e9e4e4">
    @{Html.RenderAction("TimesheetHeader", "NavigationTab");}
</div>

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="row">
                <br />
                <div class="col-sm-8">                    
                    @if (Model.IsUserNonExempt)
                   {
                        <div id="dvTSWeeklyView" class="grid-header-title"></div>
                        @Html.Grid(Model.TimesheetHours, "_Grid").Columns(col =>
                   {
                       col.Add(m => m.Day, "Day")
                            .Titled("Day");
                       col.Add(m => m.EntryDate, "EntryDate")
                            .Titled("Date");
                       col.Add(m => m.HourType, "Type")
                            .Titled("Type");
                       col.Add(m => m.StartTime, "StartTime")
                            .Titled("Start Time");
                       col.Add(m => m.EndTime, "EndTime")
                            .Titled("End Time");
                       col.Add(m => m.Hours, "Hours")
                            .Titled("Hours");
                   })
                    }
                </div>
                <div class="col-sm-4">
                    <div id="dvAddTimeEntry" class="grid-header-title">Add Time</div>
                </div>
            </div>
        </div>

    </div>

}

<script type="text/javascript">
    $(document).ready(function () {
        //Make the Timesheet nav tab active
        $("#navTimesheet").addClass("active");

    });
    function OnChangePayPeriod() {
        //debugger;
        var payPeriodId = $('#ddlPayPeriodId :selected').text();
        $("#dvTSWeeklyView").text(payPeriodId);
    }


</script>

